<IfModule mod_rewrite.c>
    RewriteEngine On
    # Leite alles in den public Ordner um
    RewriteRule ^$ public/index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php?path=$1 [L,QSA]
</IfModule>